body{
	background-image:url("https://cdn.wallpapersafari.com/94/43/qR3Mjd.jpg");
	background-size: cover;
    background-position: center; 
    margin-top: 50px;
    margin-bottom: 70px;
    font-weight: bold;
}
/*a:link, a:visited {
  background-color: #4CAF50;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #43A047;
}
*/
/*#f44336*/